##
## directory
##
.vs

.[Bb][Ii][Nn]
.[Bb][Uu][Ii][Ll][Dd]
.[Dd][Ii][Ss][Tt]
.[Ll][Oo][Gg]
.[Ll][Oo][Gg][Ss]
.[Pp][Uu][Bb][Ll][Ii][Cc]
.[Ss][Ee][Cc][Rr][Ee][Tt]
.[Ss][Ee][Cc][Rr][Ee][Tt][Ss]

[Bb][Ii][Nn]
[Bb][Uu][Ii][Ll][Dd]
[Dd][Ii][Ss][Tt]
[Ll][Oo][Gg]
[Ll][Oo][Gg][Ss]
[Pp][Uu][Bb][Ll][Ii][Cc]
[Ss][Ee][Cc][Rr][Ee][Tt]
[Ss][Ee][Cc][Rr][Ee][Tt][Ss]

node_modules


##
## extension
##
*.bak
*.bak.*
*.lib
*.dll
*.exe
*.a
*.o
*.so
*.dylib
*.framework

*config.h
*config.hh
*config.hpp
*config.js
*config.scss
*export.h
*export.hh
*export.hpp
*version.h
*version.hh
*version.hp
*version.js

*Zone.Identifier


##
## file
##
/.vscode/tasks.json
/.vscode/launch.json
/.vscode/settings.json

/.tmp.md

/*.code-workspace

/project-build-staging.sh
/project-build-demo.sh
/project-build-release.sh

/deno.lock
/package-lock.json

~libprge*

##
## godot
##
/.android
/.godot
/.ios
/.cache
/.tmp
/.prthgge

/cache
/tmp

*.import
*.uid
