[submodule "vendors/libprcpp"]
	path = vendors/libprcpp
	url = git@github.com:prothegee/libprcpp.git
[submodule "vendors/godot-cpp"]
	path = vendors/godot-cpp
	url = git@github.com:prothegee/godot-cpp.git
