##
## directory
##
.vs

.android
.godot
.ios
.windows
.linux
.macos
.osx
.cache
.tmp
.prthgge

.[Bb][Ii][Nn]
.[Bb][Uu][Ii][Ll][Dd]
.[Bb][Uu][Ii][Ll][Dd].*
.[Dd][Ii][Ss][Tt]
.[Ll][Oo][Gg]
.[Ll][Oo][Gg][Ss]
.[Pp][Uu][Bb][Ll][Ii][Cc]

[Bb][Ii][Nn]
[Bb][Uu][Ii][Ll][Dd]
[Bb][Uu][Ii][Ll][Dd].*
[Dd][Ii][Ss][Tt]
[Ll][Oo][Gg]
[Ll][Oo][Gg][Ss]
[Pp][Uu][Bb][Ll][Ii][Cc]

node_modules


##
## extension
##
*.bak
*.bak.*
*.lib
*.dll
*.exe
*.a
*.o
*.so
*.dylib
*.framework

*config.h
*config.hh
*config.hpp
*config.js
*config.scss
*export.h
*export.hh
*export.hpp

*Zone.Identifier


##
## file
##
/.vscode/settings.json
/.vscode/launch.json

/.tmp.md

/apporgame/addons

~libprge*

project-build-debug*.sh
project-build-staging*.sh
project-build-demo*.sh
project-build-release*.sh

project-cleanup.sh

/package-lock.json

/vendors/*.zip
/vendors/*.tar
/vendors/*.tar.gz


##
## exception
##
!/vendors/jsoncpp/include/json/config.h
